site_name: Software Engineering - COMP423 - Spring 2026
site_url: https://comp423-26s.github.io/
repo_url: https://github.com/comp423-26s/comp423-26s.github.io
repo_name: comp423-26s/comp423-26s.github.io

theme:
  name: material
  logo: assets/images/logo.png
  favicon: assets/images/favicon.png
  language: en
  palette:
    - media: "(prefers-color-scheme)"
      primary: blue
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  custom_dir: overrides
  features:
    - search.suggest
    - search.highlight
    - navigation.sections
    - navigation.tracking
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.indexes
    - navigation.footer
    - content.code.select
    - content.code.annotate
    - content.code.copy
    - navigation.top
    - toc.follow
validation:
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: info
  links:
    not_found: warn
    absolute_links: info
    unrecognized_links: info
plugins:
  - search
  - awesome-pages
  - macros:
      module_name: main
markdown_extensions:
  - meta
  - attr_list
  - admonition
  - md_in_html
  - tables
  - pymdownx.blocks.caption
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: false
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.mark
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/mathjax.js
  - javascripts/accessibility-fixes.js
  - javascripts/timeline-due-highlights.js
  - javascripts/timeline-filters.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
copyright: Copyright &copy; 2026 Kris Jordan